@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    background-color: #555;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.text-percentage:after {
    content: '%';
}

.wrapper {
    padding: 2rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
}

.stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.stage .__canvas {
    width: 100%;
    height: 100%;
}

.ui {
    display: flex;
    height: 100%;
    width: 100%;
}
.ui .__timeline {
    min-width: 5vw;
    margin-right: 2rem;
}
.ui .__clip-path {
    flex-grow: 1;
}
.ui .__meta-container {
    min-width: 25vw;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.ui .__meta-container .__scoreboard {
    flex-grow: 1;
    margin: 2rem 0 2rem 0;
}

.panel {
    background-color: #fff;
}

.tile.owned.snake {
    fill: green;
}
.tile.owned.lion {
    fill: yellow;
}
.tile.free {
    fill: white;
}
.tile.blocked {
    fill: grey;
}

.snake {
    background-color: green;
}
.lion {
    background-color: yellow;
}