@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* UI */

.none {
    visibility: hidden;
}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background: #858577;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.input-group {
    display: inline;
    position: relative;
}

.game-ui .__middle .__pregame button,
.button-group button {
    padding: .5rem;
    background: none;
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    color: #000;
    position: relative;
    margin: 1rem 0 1rem 0;
}
.game-ui .__middle .__pregame button,
.__intro .__intro-panel .__code button:hover,
.button-group button:hover {
    color: #666;
    border-color: #666;
}
.game-ui .__middle .__pregame button,
.__intro .__intro-panel .__code button:focus,
.button-group button:focus {
    outline: none;
}
.button-group button:active {
    top: 2px;
}
.button-group span {
    margin: 0 1rem 0 1rem;
    font-size: 1.5rem;
}

.menu-ui .__meta .__global-stats img {
    width: 90%;
    margin-right: 10%;
}
.menu-ui .__meta .__global-stats .__header {
    vertical-align: top;
    font-size: 1.5rem;
    font-weight: bolder;
}

.menu-ui .__meta .__character-cta {
    background-color: #000;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    color: #fff;
}
.menu-ui .__meta .__character-cta img {
    max-width: 40%;
}

.menu-ui .__intro .__intro-panel .__code p {
    font-size: 1.5rem;
    display: inline;
    margin-right: 1rem;
}
.menu-ui .__intro .__intro-panel .__code button,
.menu-ui .__intro .__intro-panel .__code input {
    display: inline;
    padding: .5rem;
    font-size: 1.5rem;
    background: #fff;
    border: 3px solid black;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
}
.menu-ui .__intro .__intro-panel .__code input:focus {
    outline: none;
}
.menu-ui .__intro .__intro-panel .__code button {
    width: 3rem;
    position: relative;
    right: 10px;
}

.text-percentage:after {
    content: '%';
}

.stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.stage:after {
    content: " ";
    position: absolute;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    background-color: #000;
}
.stage .__canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
.stage .__canvas--state-background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu-ui,
.game-ui {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;
    width: calc(100vw - 3rem);
    height: calc(100vh - 3rem);
    display: flex;
    overflow: hidden;
}

.menu-ui .__intro .__intro-panel {
    padding: 1rem;
}
.menu-ui .__intro .__intro-panel h1 {
    margin-top: 0;
}
.menu-ui .__intro .__intro-panel p {
    font-size: 1.25rem;
}

.menu-ui .__meta .__global-stats {
    flex-grow: 1;
    margin-bottom: 1.5rem;
    padding: .5rem;
}
.menu-ui .__meta .__character-cta {
    flex-grow: 1;
    padding: .5rem;
}

.menu-ui .__social,
.game-ui .__controls {
    width: 9vw;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
}

.game-ui .__controls .__controls-panel {
    height: calc(80vh - 4.5rem);
    margin-bottom: 1.5rem;
}

.game-ui .__controls .__controls-panel .control {
    position: relative;
    padding: .5rem;
    height: calc(25% - 1rem);
}
.game-ui .__controls .__controls-panel .control img {
    height: 100%;
    width: 100%;
}
.game-ui .__controls .__controls-panel > .control span {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 30px; left: 0; bottom: 0; right: 0;
    font-weight: bolder;
    font-size: 1.25rem;
    text-align: center;
}
.game-ui .__controls .__controls-panel .__timer.control img {
    width: 135%;
    height: 135%;
    position: relative;
    left: -20%;
    top: -25%;
}

.menu-ui .__social .__logo,
.game-ui .__controls .__logo {
    height: calc(20vh - 1.5rem);
    flex-grow: 1;
    padding: .5rem;
}
.game-ui .__controls .__logo img {
    width: 100%;
    height: 100%;;
}

.menu-ui .__intro {
    flex-grow: 1;
}
.game-ui .__middle {
    flex-grow: 1;
    position: relative;
}
.game-ui .__middle .__pregame {
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 2rem - 10px);
    width: calc(100% - 2rem - 10px);
}
.game-ui .__middle .__pregame h1 {
    margin-top: 0;
}

.game-ui .__middle .__clip-path {
    background-color: #fff;
    border-radius: 10px;
    opacity: 0.2;
    height: 100%;
}

.menu-ui .__meta,
.game-ui .__meta {
    min-width: 20vw;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
}

.game-ui .__meta .__scoreboard {
    flex-grow: 1;
    margin-bottom: 1.5rem;
    padding: .5rem;
}
.game-ui .__meta .__scoreboard .__title{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: .5rem;
}
.game-ui .__meta .__scoreboard .listing.character-redpanda {
    color: #b42206;
    fill: #b42206;
    font-weight: bold;
}
.game-ui .__meta .__scoreboard .listing.character-rhino {
    color: #4d22c9;
    fill: #4d22c9;
    font-weight: bold;
}
.game-ui .__meta .__scoreboard .listing.character-leopard {
    color: #c1b41a;
    fill: #c1b41a;
    font-weight: bold;
}
.game-ui .__meta .__scoreboard .listing.character-snake {
    color: #148d19;
    fill: #148d19;
    font-weight: bold; 
}

.game-ui .__meta .__scoreboard .listing.disconnected {
    opacity: 0.3;
}

.game-ui .__meta .__scoreboard .listing svg {
    width: .9rem;
}
.game-ui .__meta .__scoreboard .listing.lost {
    opacity: .25;
}

.game-ui .__meta .__character {
    position: relative;
    text-align: center;
    flex-shrink: 1;
    flex-basis: 40vh;
    overflow: hidden;
}
.game-ui .__meta .__character .__character-name .__title {
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    color: #fff;
}
body.spectator .game-ui .__meta .__character .__character-name .__title {
    color: #000;
}
.game-ui .__meta .__character .__character-name .__information {
    height: 1.5rem;
    position: relative;
    top: .45rem;
    display: inline;
    color: #fff;
}
.game-ui .__meta .__character .__character-portrait  {
    width: 75%;
    position: absolute; 
    left: 0; 
    right: 0;
    top: 3rem;
    margin-left: auto; 
    margin-right: auto; 
}

.panel,
#scoreboard-panel {
    background-color: #fff;
    border: 5px solid black;
    border-radius: 10px;
}
body.character-redpanda .panel {
    background-color: #b42206;
    border: 5px solid #4c1414;
    border-radius: 10px;
}
body.character-rhino .panel {
    background-color: #4d22c9;
    border: 5px solid #4d1154;
    border-radius: 10px;
}
body.character-leopard .panel {
    background-color: #908719;
    border: 5px solid #5c3f09;
    border-radius: 10px;   
}
body.character-snake .panel {
    background-color: #148d19;
    border: 5px solid #0e3806;
    border-radius: 10px;   
}

table {
    width: 100%;
}

/* Games */

body.spectator .tile {
    stroke: #222;
    stroke-width: 5px;
}

body.character-redpanda .tile {
    stroke: #4c1414;
    stroke-width: 5px;
}
.tile.claimed {
    stroke: none !important;
}
body .tile.character-redpanda.claimed > *,
body .tile.character-redpanda.owned > * {
    fill: #7d2612;
    fill-opacity: 0.33;
}

body.character-rhino .tile {
    stroke: #4d1154;
    stroke-width: 5px;
}
body .tile.character-rhino.claimed > *,
body .tile.character-rhino.owned > * {
    fill: #4d22c9;
    fill-opacity: 0.33;
}

body.character-leopard .tile {
    stroke: #5c3f09;
    stroke-width: 5px;
}
body .tile.character-leopard.claimed > *,
body .tile.character-leopard.owned > * {
    fill: #fde900;
    fill-opacity: 0.33;
}

body.character-snake .tile {
    stroke: #0e3806;
    stroke-width: 5px;
}
body .tile.character-snake.claimed > *,
body .tile.character-snake.owned > * {
    fill: #2fc31c;
    fill-opacity: 0.33;
}

.tile.blocked {
    fill: #3f3f3f;
}
.tile.free {
    fill: #fff;
}
.tile.background {
    fill: #858577;
}

/* Unrefactored */

/*
.tile.claimed {
    transform-origin:50% 50%;
    transform: scale(1.1);
    animation-name: pulse_animation;
	animation-duration: 1500ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes pulse_animation {
	0% { transform: scale(1.1); }
	50% { transform: scale(1.20); }
	0% { transform: scale(1.1); }
}*/
